In [3]:
import pandas as pd

# Load the JSON file into a DataFrame
file_path = ("company_tickers.json"  
)
df = pd.read_json(file_path)

df = df.T

# Add a new column for processing status
df["processed"] = False

# Save the DataFrame to a CSV file
status_file_path = "processing_status.csv"  
df.to_csv(status_file_path, index=False)

In [4]:
import pandas as pd 
# read paraquet file
df = pd.read_parquet('ticker_data/MSFT.parquet')

df.head()

,cik,ticker,title,year,mda_section,processed_timestamp
0,789019,MSFT,MICROSOFT CORP,2023,ITEM 7. MANAGEMENT’S DISCUSSION AND ANALYSIS O...,2024-01-14 21:34:52.582424
1,789019,MSFT,MICROSOFT CORP,2002,ITEM 7. MANAGEMENT’S DISCUSSION AND ANALYSIS O...,2024-01-14 21:31:45.152628
2,789019,MSFT,MICROSOFT CORP,2003,ITEM 7. Management’s Discussion and Analysis o...,2024-01-14 21:30:17.562345
3,789019,MSFT,MICROSOFT CORP,2004,ITEM 7. MANAGEMENT’S DISCUSSION AND ANALYSIS O...,2024-01-14 21:31:02.722148
4,789019,MSFT,MICROSOFT CORP,2005,,2024-01-14 21:31:44.872061

In [5]:
import pandas as pd
df = pd.read_csv("processing_status.csv")
df.head()

   cik_str ticker           title  processed
0   320193   AAPL      Apple Inc.      False
1   789019   MSFT  MICROSOFT CORP      False
2  1652044  GOOGL   Alphabet Inc.      False
3  1018724   AMZN  AMAZON COM INC      False
4  1045810   NVDA     NVIDIA CORP      False

In [6]:
# Total count of processed and unprocessed rows
df["processed"].value_counts()

processed
False    10909
Name: count, dtype: int64